.formGroup {
  border-bottom: 1px #d10505 solid;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}
#sendBtn {
  background-color: #d10505;
  color: white;
  border: none;
  width: 20%;
  height: 10%;
  margin-top: 1rem;
}
.title {
  justify-content: center;
  display: flex;
}
.form-map-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact-container {
  width: 100%;
  margin-bottom: 5vh;
}
#form {
  width: 40vw;
  margin-top: 5vh;
}
.map {
  margin-top: 10.5vh;
  width: 40vw;
  height: 40vh;
}

@media (max-width: 767px) {
  .formGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #d10505 solid;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  #sendBtn {
    background-color: #d10505;
    color: white;
    border: none;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .title {
    justify-content: center;
    display: flex;
  }

  .form-map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-container {
    width: 95%;
    margin-bottom: 5vh;
  }

  #form {
    width: 80%;
    margin-top: 5vh;
  }

  .map {
    margin-top: 10.5vh;
    width: 100%;
    height: auto;
  }
}
