

   .CardBody {
       text-align: left;
   }

   .section {
       display: flex;
       border-bottom: #D10505 0.5rem solid;
   }
   .priceBtnContainer{
    display: flex;
    text-align: center;
    justify-content: space-between;
   }

   .detail-button {
       display: flex;
       justify-content: center;
       background-color: #D10505;
       color: white;
       border: none;
       width: 6.5rem;
       height: 2.3rem;
       border-radius: 2rem;
       font-size: 1.2rem;
       font-weight: 600;
   }

   .text-price {
       font-weight: 600;
       font-size: 1.8rem;
       color: #D10505;
       font-weight: 700;
   }
