

   .CardBody {
       width: 18rem;
       text-align: left;
   }

   .section {
       display: flex;
       border-bottom: #D10505 0.5rem solid;
   }

   .detail-button {
       display: flex;
       background-color: #D10505;
       color: white;
       border: none;
       width: 6rem;
       height: 2rem;
       border-radius: 2rem;
       justify-content: center;
       margin-left: 5rem;
       font-size: 1.2rem;
       font-weight: 600;
   }

   .text-price {
       display: flex;
       font-weight: 600;
       font-size: 1.8rem;
       color: #D10505;
       font-weight: 700;
   }
