.show-menu {
    display: block;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 1rem;
}

.logotype-img {
    height: 5rem;
}

.ul-container {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: end;
}
.links-container {
    width: 60vw;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.navbar-li {
    text-decoration: none;
    margin-right: 3rem;
    color: black;
    font-size: larger;
    font-weight: 500;
}
