
.sectionCard {
  width: 20rem;
}
.priceBtnContainer {
   height: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d10505;
    color: white;
    border: none;
    width: 6rem;
    height: 2.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}
@media (max-width: 768px) {
  .sectionCard {
    width: 12rem;
    margin: 1rem; 
  }

  .priceBtnContainer {
    display: flex;
  }

  .detail-btn {
    width: 5rem; 
    height: 2.2rem;
    border-radius: 2rem; 
    font-size: 1rem;
  }
}
En el ejemplo anterior, hemos aplicado media queries para dispositivos móviles que se activarán cuando el ancho de la pantalla sea igual o menor a 768 píxeles (ajustable según tus necesidades). En estos estilos para dispositivos móviles, hemos hecho que el ancho de .sectionCard ocupe el 100% del ancho de la pantalla, limitando el ancho máximo a 20rem para mantener un diseño atractivo. Además, hemos cambiado el diseño de .priceBtnContainer a una columna y hemos ajustado los estilos de .detail-btn para que se vean bien en dispositivos móviles.

Puedes personalizar estos valores según tus preferencias y necesidades específicas.







