.description-container {
  width: 84wh;
  display: flex;
  justify-content: center;
}
.climbing {
  margin-bottom: 1rem;
  color: #d10505;
  font-size: 1.5rem;
}
.text:hover {
  background-color: #d10505;
  color: white;
}
@media (max-width: 768px) {
  .description-container {
    width: 100vw;
    padding: 1rem;
  }

  .climbing {
    font-size: 1.2rem;
  }
}
