.register {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Button1 {
    border: none;
    width: 130px;
    height: 36px;
    background: #D10505;
    border-radius: 50px;
    color: white;
}

.form-control {
    background: rgba(255, 232.69, 232.69, 0.70);
    border-bottom: 2px #D10505 solid;
    border-radius: 10px;
}

.Button1:not(:disabled):not(.disabled):active, 
.Button1:not(:disabled):not(.disabled).active,
.Button1:hover, 
.Button1:focus {
    background-color: #D10505 !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    opacity: 1 !important;
}

.login-link {
    color: black;
    display: block;
    margin-top: 5px;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
