.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem 0.2rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1.5rem; 
}

.home-button {
    margin-left: auto;
    margin-right: -1rem; 
    border: none;
    background: transparent;
    transition: none !important;
}

.home-button:hover {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.home-button img {
    width: 30%;
    height: auto;
}

.register {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    background: rgba(255, 232.69, 232.69, 0.70);
    border-bottom: 2px #D10505 solid;
    border-radius: 10px;
}

.Button1 {
    border: none;
    width: 130px;
    height: 36px;
    background: #D10505;
    border-radius: 50px;
    color: white;
}

.Button1:hover {
    background: #D10505;
    box-shadow: none;
    border: none;
    color: white;
}

.Button1:not(:disabled):not(.disabled):active, 
.Button1:not(:disabled):not(.disabled).active {
    background-color: #D10505;
    border: none;
    box-shadow: none;
    color: white;
}

.login-link {
    color: #D10505;
    display: block;
    margin-top: 0.3125rem; 
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
